.popup__button {
  background-color: #000;
  border: none;
  border-radius: 2px;
  color: #fff;
  cursor: pointer;
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  height: 50px;
  margin-top: 48px;
  padding: 0;
  text-align: center;
  width: 100%;
}

.popup__button:hover {
  background-color: rgba(0,0,0,.8);
}

@media screen and (max-width: 1279px) {
  .popup__button {
      font-size: 14px;
      line-height: 17px;
      height: 46px;
      margin-top: 45px;
  }
}
